:root {
    /* Colors */
    --primary: #02182b;
    --secondary: #70798C;
    --accent1: #EADEDA;

    /* fonts */
    --head: "Space Grotesk", "Century Gothic", Trebuchet, Verdana;
    --body: "Ubuntu", "Segoe UI", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3{
    font-family: var(--head);
    text-align: center;
}

h1 {
    background-color: var(--primary);
    color: var(--accent1);
    margin: 0;
}

h2 {
    background-color: var(--secondary);
    margin: 1rem;
}

body {
    background-color: var(--accent1);
}

p,ul {
    font-family: var(--body);
    margin: 2rem;
}

h3 {
    margin-bottom: 0.5rem;
}

.desktop {
    width: 300px;
    margin: 0 auto;
    display: block;
}

.mobile {
    width: 200px;
    display: block;
    margin: 0 auto;
}