:root {
    /* colors */
    --primary: #001514;
    --secondary: #F4A259;
    --accent1: #FAFAFF;
    --accent2: #709176;
    /* black as needed */

    /* fonts */
    --head: "IM Fell French Canon SC", "Book Antiqua", Georgia, "Times New Roman", Serif;
    --body: "Zen Kurenaido", Helvetica, Arial, sans-serif;
}

/*************************** header ***************************/
header {
    background-color: var(--primary);
    display: flex;
}

header img{
    width: 50px;
}