:root {
    /* colors */
    --primary: #001514;
    --secondary: #F4A259;
    --accent1: #FAFAFF;
    --accent2: #709176;
    /* black as needed */

    /* fonts */
    --head: "IM Fell French Canon SC", "Book Antiqua", Georgia, "Times New Roman", Serif;
    --body: "Zen Kurenaido", Helvetica, Arial, sans-serif;
}

/* smaller stuff first */
/*************************** hero image & CTA ***************************/
#hero {
    width: 100%;
}

.hero {
    /* position */
    position: relative;

    /* box model */
    padding: 0;
}

#tickets {
    /* font / text */
    font-family: var(--body);
    text-decoration: none;
    font-size: 1.6rem;
    
    /* colors */
    background-color: var(--primary);
    color: var(--secondary);

    /* box model */
    padding: 0.5rem;
    border-radius: 1rem;

    /* positioning */
    position: absolute;
    right: 0.5rem;
    bottom: 1rem;
}


/*************************** Basic Section layout ***************************/
section {
    /* colors */
    background-color: var(--secondary);

    /* box model */
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--primary);
}

section h2 {
    /* font */
    font-family: var(--head);
    
    /* text */
    text-align: center;

    /* colors */
    color: var(--accent1);
    background-color: var(--primary);
    
    /* box model */
    margin: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.5rem 0;
}

section p {
    /* font */
    font-family: var(--body);
    font-size: 1.3rem;

    /* colors */
    color: var(--primary);

    /* box model */
}

/*************************** current weather ***************************/
#weather-section{
    /* Gird */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

#weather-section h2 {
    /* making h2 span the top of element. */
    grid-column: 1/3;
}

#weather-section img {
    justify-self: center;
    width: 75px;
}

#weather-info p:first-child {
    font-weight: 800;
}

/*************************** forecast ***************************/
#forecast p{
    padding-left: 1rem;
}

/*************************** member cards ***************************/
#spotlights {
    /* colors */
    background-color: var(--accent1);
    
    /* border */
    border: none;

    /* flex */
    display: flex;
    flex-direction: column;
}

.business-card{
    /* text */
    text-align: center;
    text-wrap:initial ;

    /* border */
    border: 1px solid var(--primary);
    border-radius: 1rem;
}